# Quartus build and temporary files
db/
incremental_db/
output_files/
*.rpt
*.smsg
*.summary
*.qws
*.bak
*.done
*.sof
*.pof
*.jdi
*.cdf
*.sld
*.pin
*.tcl
*.sopcinfo
*.jtag
*.svd
*.asm.rpt
*.map.rpt
*.sta.rpt
*.fit.rpt
*.vcd
*.vhw
*.vho
*.vwf
*.vqm
*.csv
*.html
*.wlf
